body{
	
	margin:20px 200px;
}
header{
	height:23vh;
	width: 100%;
	padding-top:20px;
	border-bottom: 4px  solid #000;
}
header #logo{
	padding-left:20px;
}
header #logo img {
	height: 18vh;
	float:left;
}
header #logo1{
	padding-right:20px;
	float:right
}
header #logo1 img{
	height: 13vh;
	padding-right:0px;
}
header #logo1 p{
   padding-top:15px;
}
#info{
	padding: 8vh 13vh;
	float:center;
}
nav{
	height:20vh;
	padding-top:20px;
	padding-bottom:20px;
}
.menu{
	height:14vh;
	width: 100%;
	max-width: 80%;
	float:right;
}

.menu ul li{
	list-style: none;
	float: right;
}
.menu ul li a{
	background : #315984;
	text-decoration: none;
	padding: 2.5vh 4vh;
	color: #fff;
	font-size: 1.2rem;
	font-family: "verdana";
    font-weight: 900;
	border-radius:5px;
}
.menu ul li a:hover{
	background: black;
	color: #fff;
}
#tabla{
	width:100%;
	
}

.menu2{
	height:100%;
	width: 100%;
	max-width: 80%;
	float:left;
	
}

.menu2 ul li{
	list-style: none;
	float:right;
	padding-bottom:40px;
	padding-right:15px;
}
.menu2 ul li a{
	background : #315984;
	text-decoration: none;
	padding: 2vh 3.5vh;
	color: #fff;
	font-size: 1.2rem;
	font-family: "verdana";
    font-weight: 900;
	border-radius:10px;
	
}
.menu2 ul li a:hover{
	background: black;
	color: #fff;
}
#tabla tr{
	height:20vh;
	
	max-width:70%;
	float:rigth;
	border:1px solid black;
	
}

