
.categoria {
	position:relative;
	display:inline-block;
}
.texto1{
	position:absolute;
	top:30px;
	left:20%;
	font-family: verdana;
	font-size:60px;
	color:#fff;
}

.galeria {
	width:100%;
	padding:20px;
	margin-top:20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.galeria .title-img {
	width: 100%;
	border-top: 4px solid #46ABDF;
}

.galeria .title-img h2 {
	font-size: 30px;
	text-align:center;
	padding:10px 0;
    color: #636363;
	font-weight:100;
}

.galeria .box-img {
	width:calc(100px*3);
	margin: 10px;
	border-radius: 2px;
	box-shadow:0 0 7px 0 rbga(0,0,0,.6);
	overflow: hidden;
}

.galeria .box-img imag {
	width: 100% ;
	vertical-align:top;
	cursor:pointer;
	transition: all .5s ease;
}

.galeria .box-img imag:hover {
	transform: scale(1.2);
}
	
