body{
	font-family: Verdana;	
	margin: 20px 200px;
}
header{
	height:15vh;
	width: 100%;
	padding-top:20px;
	border-bottom: 4px  solid #000;
}
header #logo{ /* no tiene mucha importancia*/
	padding-left:20px;
}
header #logo img {
	height: 10vh;
	float:left;
}
header #logo1{
	padding-right:20px;
	float:right;
}
header #logo1 img{
	height: 7vh;
	padding-right:20px;
}
header #logo1 p{   /* no tiene mucha importancia*/
   padding-top:1px;
}
/* segunda parte */
#info{
	padding: 8vh 8vh;
	float:center;
}
nav{
	height:20vh;
	padding-top:0px;
	padding-bottom:10px;

}
.menu{
	height:16vh;
	width: 100%;
	max-width: 100%;
	float:right;
}
.menu ul{
    margin:0;
    padding:0;
    text-align:center;
}
.menu ul li{
	list-style: none;
	float: left;

}
.menu ul li a{
	background : #315984;
	text-decoration: none;
	padding: 3vh 5vh;
	color: white;
	font-size: 1rem;
   font-weight: 50;
}
.menu ul li a:hover{
	background: black;
	color: white;
}

*{
	padding: 0px;
	margin: 0px;
}
#contenedor {
	width: 100%;
	margin: 30px auto;
	overflow: hidden;
}
#contenedor img{
	width: 1000px;
	height: 500px;
}

#contenedor ul {
	list-style: none;
	width: 4000px;
	display: flex;
	
	
	animation: slide 20s infinite alternate;
}
@keyframes slide{
	0% {margin-left: 0px;}
	25% {margin-left: 0px;}
	
	25% {margin-left: -1000px;}
	45% {margin-left: -1000px;}
	
	50% {margin-left: -2000px;}
	70% {margin-left: -2000px;}
	
	75% {margin-left: -3000px;}
	100%{margin-left: -3000px;}
}

/*tercera parte*/

#redes{
	height: 150px;
	width: 100%;
	font-size:80px;
	border-top: 4px solid #000;
	padding-top: 50px;
	padding-left: 50px;
}
#redes img{
	height:70px;
	float:center;
	vertical-align: middle;
}

#redes ul li{
	list-style: none;
	float: left;
	height:120px;
	padding:0px 20px;

}
#redes ul li a{
	text-decoration: none;
	padding: 50px 50px 50px 20px;
	color: #315984;
	font-size: 1.2rem;
	vertical-align: middle;
	font-style: italic;
	font-weight: 900;
}
/* Forms */
input {
  width: 100%;
  margin: 0.25rem;
  padding: 0.25rem;
}
.formulario{
	width: 25rem;
	text-align: left;
	display: inline-block;
	margin: 10px;
}
.label{
	margin: 0.25rem;
	font-size: 0.8rem;
}
.button{
	border: none;
	background-color: #315984;
	color: white;
	font-size: 1rem;
	height: 2rem;
}
.select{
	width: 100%;
	margin: 0.25rem;
	padding: 0.25rem;
}



/* Galeria  */

.categoria {
	position:relative;
	display:inline-block;
	
}
.texto1{
	position:absolute;
	top:30px;
	left:20%;
	font-family: verdana;
	font-size:60px;
	color:#fff;
}

.galeria {
	width:100%;
	padding:20px;
	margin-top:20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.galeria .title-img {
	width: 100%;
	border-top: 4px solid #46ABDF;
}

.galeria .title-img h2 {
	font-size: 30px;
	text-align:center;
	padding:10px 0;
    color: #636363;
	font-weight:100;
}

.galeria .box-img {
	width:calc(100px*3);
	margin: 10px;
	border-radius: 2px;
	box-shadow:0 0 7px 0 rbga(0,0,0,.6);
	overflow: hidden;
}

.galeria .box-img imag {
	width: 100% ;
	vertical-align:top;
	cursor:pointer;
	transition: all .5s ease;
}

.galeria .box-img imag:hover {
	transform: scale(1.2);
}

.genero{
	width: 80%;
	vertical-align:top;
}
.genero-pelicula{
	margin-bottom: 50px;
	height: 500px;
}