body{
	
	margin:20px 200px;
}
header{
	height:15vh;
	width: 100%;
	padding-top:20px;
	border-bottom: 4px  solid #000;
}
header #logo{ /* no tiene mucha importancia*/
	padding-left:20px;
}
header #logo img {
	height: 10vh;
	float:left;
}
header #logo1{
	padding-right:20px;
	float:right;
}
header #logo1 img{
	height: 7vh;
	padding-right:20px;
}
header #logo1 p{   /* no tiene mucha importancia*/
   padding-top:1px;
}
/* segunda parte */
#info{
	padding: 8vh 13vh;
	float:center;
	
}
nav{
	height:20vh;
	padding-top:0px;
	padding-bottom:10px;
}
.menu{
	height:16vh;
	width: 100%;
	max-width: 80%;
	float:right;
}

.menu ul li{
	list-style: none;
	float: left;

}
.menu ul li a{
	background : #315984;
	text-decoration: none;
	padding: 3vh 5vh;
	color: white;
	font-size: 1.2rem;
	font-family: "Verdana";
    font-weight: 50;
}
.menu ul li a:hover{
	background: black;
	color: white;
}

*{
	padding: 0px;
	margin: 0px;
}
#contenedor {
	width: 1000px;
	margin: 30px auto;
	overflow: hidden;
}
#contenedor img{
	width: 1000px;
	height: 500px;
}

#contenedor ul {
	list-style: none;
	width: 4000px;
	display: flex;
	
	
	animation: slide 20s infinite alternate;
}
@keyframes slide{
	0% {margin-left: 0px;}
	25% {margin-left: 0px;}
	
	25% {margin-left: -1000px;}
	45% {margin-left: -1000px;}
	
	50% {margin-left: -2000px;}
	70% {margin-left: -2000px;}
	
	75% {margin-left: -3000px;}
	100%{margin-left: -3000px;}
}

/*tercera parte*/

#redes{
	height: 150px;
	width: 100%;
	font-size:80px;
	border-top: 4px solid #000;
}
#redes img{
	
	height:70px;
	float:center;
}

#redes ul li{
	list-style: none;
	float: left;
	height:120px;
	padding:0px 20px;
}
#redes ul li a{
	text-decoration: none;
	padding: 50px 50px 50px 20px;
	color: #315984;
	font-size: 1.2rem;
	font-family: "Verdana";
    font-style: italic;
    font-weight: 900;
}