body{
	
	margin:20px 200px;
}
header{
	height:23vh;
	width: 100%;
	padding-top:20px;
	border-bottom: 4px  solid #000;
}
header #logo{
	padding-left:20px;
}
header #logo img {
	height: 18vh;
	float:left;
}
header #logo1{
	padding-right:20px;
	float:right
}
header #logo1 img{
	height: 13vh;
	padding-right:0px;
}
header #logo1 p{
   padding-top:15px;
}
#info{
	margin:80px auto;
	padding: 8vh 13vh;
	float:center;
}
nav{
	height:20vh;
	padding-top:0px;
	padding-bottom:20px;
}
.menu{
	height:16vh;
	width: 100%;
	max-width: 80%;
	float:right;
}

.menu ul li{
	list-style: none;
	float: left;

}
.menu ul li a{
	background : #315984;
	text-decoration: none;
	padding: 3vh 5vh;
	color: #fff;
	font-size: 1.2rem;
	font-family: "verdana";
    font-weight: 900;
}
.menu ul li a:hover{
	background: black;
	color: #fff;
}
form {
	font-family:arial;
	float:center;
}
#nav{
	font-family:arial;
	float:center;
}
#form{
	height: 150px;
	width: 100%;
	font-size:40px;
	border-top: 4px solid #000
}

#redes{
	margin: 250px auto;
	height: 150px;
	width: 100%;
	font-size:40px;
	border-top: 4px solid #000
}
#redes img{
	
	height:70px;
	float:left;
}

#redes ul li{
	list-style: none;
	float: left;
	height:120px;
	padding:0px 20px;
}
#redes ul li a{
	text-decoration: none;
	padding: 50px 50px 50px 20px;
	color: black;
	font-size: 1.2rem;
	 font-family: "arial";
  font-style: italic;
  font-weight: 900;
}


